	
@using SES.Companies.Application.DTO.Aggregates.CompaniesAgg.Requests;
@using SES.Companies.Enumerations;
@using Pages.RegisterStepsTemplate;
@inherits GrupoEmpresaCadastro

<div class="container-informations screen">
    <div class="box-inputs">
 
    <div class="input-secondary"> 
        <div class="input-secondary-item">
            <div class="container-input border-1px-silver">
                                        <div class="cep-1 valign-text-middle inter-medium-sonic-silver-10px">@Model.GetFieldPlaceholder(Model.GetPropertyInfo(x=>x.Contacts.Email))</div>
                <input @bind-value="Model.Contacts.Email"
                                    class="razo-social valign-text-middle inter-medium-silver-16px"
                    placeholder="@Model.GetFieldPlaceholder(nameof(Model.Contacts.Email))" />
            </div>
            <div class="este-campo-obrigatrio-1 valign-text-middle inter-normal-sonic-silver-10px">
                <ValidationMessage For="@(() => Model.Contacts.Email)"></ValidationMessage>
            </div>
        </div>
        <div class="input-secondary-item">
            <div class="container-input border-1px-silver">
                                        <div class="cep-1 valign-text-middle inter-medium-sonic-silver-10px">@Model.GetFieldPlaceholder(Model.GetPropertyInfo(x=>x.Contacts.Telefone))</div>
                <input @bind-value="Model.Contacts.Telefone"
                                    class="razo-social valign-text-middle inter-medium-silver-16px"
                    placeholder="@Model.GetFieldPlaceholder(nameof(Model.Contacts.Telefone))" />
            </div>
            <div class="este-campo-obrigatrio-1 valign-text-middle inter-normal-sonic-silver-10px">
                <ValidationMessage For="@(() => Model.Contacts.Telefone)"></ValidationMessage>
            </div>
        </div>
    </div> 
 
    <div class="input-secondary"> 
        <div class="input-secondary-item">
            <div class="container-input border-1px-silver">
                                        <div class="cep-1 valign-text-middle inter-medium-sonic-silver-10px">@Model.GetFieldPlaceholder(Model.GetPropertyInfo(x=>x.Contacts.TipoTelefone))</div>
                <input @bind-value="Model.Contacts.TipoTelefone"
                                    class="razo-social valign-text-middle inter-medium-silver-16px"
                    placeholder="@Model.GetFieldPlaceholder(nameof(Model.Contacts.TipoTelefone))" />
            </div>
            <div class="este-campo-obrigatrio-1 valign-text-middle inter-normal-sonic-silver-10px">
                <ValidationMessage For="@(() => Model.Contacts.TipoTelefone)"></ValidationMessage>
            </div>
        </div>
        <div class="input-secondary-item">
            <div class="container-input border-1px-silver">
                                        <div class="cep-1 valign-text-middle inter-medium-sonic-silver-10px">@Model.GetFieldPlaceholder(Model.GetPropertyInfo(x=>x.Contacts.WebSite))</div>
                <input @bind-value="Model.Contacts.WebSite"
                                    class="razo-social valign-text-middle inter-medium-silver-16px"
                    placeholder="@Model.GetFieldPlaceholder(nameof(Model.Contacts.WebSite))" />
            </div>
            <div class="este-campo-obrigatrio-1 valign-text-middle inter-normal-sonic-silver-10px">
                <ValidationMessage For="@(() => Model.Contacts.WebSite)"></ValidationMessage>
            </div>
        </div>
    </div> 
    </div>
</div>

@code {
    [CascadingParameter] BaseMainStepsLayout<GrupoEmpresaDTO> layout { get; set; }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            this.StateHasChanged();
        }
        return base.OnAfterRenderAsync(firstRender);
    }
}
